
/* nav bar */
nav {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to left, #2F80ED, #56CCF2); 
    padding: 10px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    align-items: center;
    
}

nav p {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    margin: 5px 10px;
}

nav img {
    height: 200px;
    margin: 0 10px;
}

/* search container */
.search-container {
  display: flex; 
  flex-direction: column; 
  justify-content: flex-end;
  align-items: flex-end; 
}

.search-row {
  display: flex; 
  margin-bottom: 10px;
  justify-content: flex-end;
  width: 100%;
}

.search-item {
  margin-left: 10px; 
}

.search-item form {
  margin: 0 10px; 
  height:fit-content;
}

.search-item input[type="text"], input[type="date"] {
    border: 2px solid #fff; 
    border-radius: 4px;
    padding: 8px;
    margin: 5px;
    width: 100px; 
    height: fit-content;
}

.search-item button {
    background-color: #15c2f6;
    border: none;
    border-radius: 4px;
    padding: 8px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
    height: fit-content;
}
.search-item p{
  color:rgb(253, 253, 253);
}

.search-item label {
    color: darkblue;
    font-size: 18px;
    font-weight: 300;
    margin: 5px 10px;
    margin-right: 10px; 
}

button:hover {
    background-color: #4495f2;
}

/* home page */
   
#ranking-dashboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#ranking-dashboard h1{
    text-align: center;
    font-size: 26px;
    margin: 20px 0;
}

.ranking-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

#volume-block, 
#assets-block, 
#holders-block, 
#performance-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    flex-basis: calc(50% - 20px);
    margin-top: 10px;
    margin-bottom: 50px;
} 

#volume-chart, 
#assets-chart, 
#holders-chart, 
#performance-chart{
    align-self: center;
    width: 100%;
    height: 450px;
}

#volume-data-updated-time, 
#assets-data-updated-time, 
#holders-data-updated-time, 
#performance-data-updated-time{
    font-size: 16px;
    text-align: center;
    margin: 5px 10px;
}

/* Styles for the dropdown menu */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none; /* Hidden by default */
    position: absolute;
    background-color: #c3e8f4; /* Light grey background */
    min-width: 160px; /* Minimum width */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* Shadow for 3D effect */
    z-index: 1; /* Makes sure dropdown is on top */
    max-height: 400px; /* Max height of dropdown */
    overflow-y: auto; /* Scroll if content exceeds max height */
}

.dropdown-content div {
    padding: 12px 16px; /* Padding for content inside dropdown */
    text-decoration: none; /* No underline */
    display: block; /* Changes div to block element, filling the width */
    cursor: pointer; /* Cursor indicates clickable */
}

.dropdown-content div:hover {
    background-color: #f1f1f1;
}


/* search results */
 
#dashboard-container {
        display: flex;
        flex-direction: row;  
        flex-wrap: wrap;      
}
#etf1-container, #etf2-container {
        flex-basis: calc(50% - 20px);
        min-width: 300px;     
        box-sizing: border-box;
        padding: 10px;
}

.chart-flex-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 10px;
    width: 100%;
    margin-bottom: 100px 0;
}

#performance-data-updated-time1, #industry-data-updated-time1, #stock-data-updated-time1,#performance-data-updated-time2, #industry-data-updated-time2, #stock-data-updated-time2{
    font-size: 20px;
    margin: 5px 10px;
}


/* find ETF from stock */

#stock-to-ETF-table{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    column-width: 1000px;
    margin-bottom: 100px;
}

/* news page */
#news-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
    margin-bottom: 100px;
}

#wordcloud-container{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#news-links{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    margin-left: 30px;

}

#news-links a {
    font-size: 20px;
}

/* footer */
.site-footer {
  position: fixed;
  bottom: 0;
  left:0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: linear-gradient(to left, #2F80ED, #56CCF2);
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: none;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footer-left p {
  margin: 0; 
}

.footer-right {
  display: flex;
  justify-content: flex-end;
  margin-right: 0;
}

.footer-right a {
  text-decoration: none;
  color: white;
  margin-right: 50px; 
  transition: color 0.3s ease;
}

.footer-right a:hover {
  color: #a8d0e6; 
}

/* error page */
.error-message {
    text-align: center;
    color: #397bed;
    font-size: 30px;
  }



/* Responsive Design */
@media screen and (max-width: 600px) {
    #etf1-container, #etf2-container {
      flex-basis: 100%;
  }
  .search-row{
    flex-direction: column;
    align-items: flex-end;
  }
  .search-item {
    margin-left: 0;
    margin-bottom: 10px;
  }
  .search-buttons {
    flex-direction: column;
  }
  .footer-container {
    flex-direction: column;
    text-align: center;
  }

  .footer-right {
    margin-top: 10px;
    justify-content: center;
  }

  .footer-right a {
    margin-left: 0;
    margin-right: 10px; 
  }
}

@media screen and (min-width: 601px) and (max-width: 800px) {
    .chart {
        width: 50%;
        height: auto;
    }
    .search-buttons {
        flex-direction: column;
        width: 100%;
    }
    input[type="text"], input[type="date"] {
        width: calc(100% - 20px); 
    }
}

@media screen and (min-width: 801px) {
    .chart {
        width: 25%;
        height: auto;
    }
}