 #dashboard-container {
        display: flex;
        flex-direction: row;  
        flex-wrap: wrap;      
}
#etf1-container, #etf2-container {
        flex-basis: 50%;      
        min-width: 300px;     
        box-sizing: border-box;
        padding: 10px;
}

.chart-flex-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 10px;
}


.chart-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.chart {
    border: 1px solid #ccc;
    padding: 10px;
    flex-basis: calc(50% - 1px); /* Adjust the width for two charts per row, accounting for the gap */
    height: 220px; 
}

.search-buttons {
    display: flex;
    justify-content: center; 
    gap: 5px; 
}

.search-buttons button {
    padding: 10px 20px; 
    background-color: #0675f4; 
    color: white; 
    border: 10px; 
    border-radius: 4px; 
    cursor: pointer; 
}

.search-buttons button:hover {
    background-color: #73bcf0; 
}

/* #stock-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 10px;
} */

#stock-to-ETF-table{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    column-width: 1000px;
}

#wordcloud-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

#wordcloud-title{
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#wordcloud-chart{
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* Responsive Design */
@media screen and (max-width: 600px) {
    #etf1-container, #etf2-container {
      flex-basis: 100%;
  }
}

@media screen and (min-width: 601px) and (max-width: 800px) {
    .chart {
        width: 50%;
        height: auto;
    }
}

@media screen and (min-width: 801px) {
    .chart {
        width: 25%;
        height: auto;
    }
}

