<!DOCTYPE html>
<html>
<head>
    <title>Error Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
        }
        h1 {
            color: #397bed;
        }
    </style>
</head>

<body>
{% include 'nav_bar.html' %}

    <h1>Page Not Found.</h1>
    <p>We apologize for the inconvenience. Please try searching with different conditions.</p>
    <a href="/">Back to Home Page</a>

{% include 'footer.html' %}
</body>
</html>
