<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ETF Dashboard</title>
    <script src="https://cdn.plot.ly/plotly-2.30.0.min.js" charset="utf-8"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<script src="{{ url_for('static', filename='scripts.js') }}"></script>
</head>

<body>
{% include 'nav_bar.html' %}
<!-- Display ETF ranking charts by different index -->
<div id="ranking-dashboard">
        
    <div class="ranking-row">
        <div id="volume-block">
            <div id="volume-chart" class="chart"></div>
            <div id="volume-data-updated-time"></div>
        </div>

        <div id="assets-block">
            <div id="assets-chart" class="chart"></div>
            <div id="assets-data-updated-time"></div>
        </div>
    </div>

    
    <div class="ranking-row">
        <div id="holders-block">
            <div id="holders-chart" class="chart"></div>
            <div id="holders-data-updated-time"></div>
        </div> 
        <div id="performance-block">
            <div id="performance-chart" class="chart"></div>
            <div id="performance-data-updated-time"></div>
        </div>
    </div>

</div>
{% include 'footer.html' %}
</body>
</html>




