<!DOCTYPE html>
<html>
<head>
    <title>Find ETF From Stock</title>
    <script src="https://cdn.plot.ly/plotly-2.30.0.min.js" charset="utf-8"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
    <script type="text/javascript">
        let stockData = {{ stock_data | tojson | safe }};
    </script>
</head>
<body>
{% include 'nav_bar.html' %}
<main>
    <div id="stock-to-ETF-table"></div>
</main>
{% include 'footer.html' %}
<script>
    function sortStockDataByRatio(stockData) {
    return stockData.sort((a, b) => parseFloat(b.ratio.replace('%', '')) - parseFloat(a.ratio.replace('%', '')));
}
    // Render the table using Plotly
    function renderPlotlyTable(sortedStockData) {
        const layout = {
            title: stockData[0].component_stock_name + '（代號：' + stockData[0].stock_code + '）股票對應 ETF 佔比表',
            autosize: true,
            height: 1200
        };

        const headerValues = [['ETF 代號'], ['ETF 名稱'], ['佔 ETF 比例'], ['來源資料更新時間']];
        const cellValues = [
            stockData.map(item => item.symbol),
            stockData.map(item => item.etf_name),
            stockData.map(item => item.ratio),
            stockData.map(item => item.data_updated_date)
        ];

        const data = [{
            type: 'table',
            columnwidth: [80, 220, 80, 200],
            header: {
                values: headerValues,
                align: 'center',
                line: {width: 2, color: 'black'},
                fill: {color: 'skyblue'},
                font: {family: 'Arial', size: 14, color: 'white'}
            },
            cells: {
                values: cellValues,
                align: 'center',
                line: {color: 'black', width: 2},
                font: {family: 'Arial', size: 14, color: ['black']},
                height: 30
            }
        }];

        Plotly.newPlot('stock-to-ETF-table', data, layout);
    }
    
    // start the process when the page is loaded
    document.addEventListener('DOMContentLoaded', function() {
        if (stockData) {
            const sortedStockData = sortStockDataByRatio(stockData);
            renderPlotlyTable(sortedStockData);
        }
    });
</script>
</body>
</html>
