<nav>
<a href = "/">
    <img src="{{ url_for('static', filename='logo.png') }}" alt="logo" class="logo" >
</a>

<div class="search-container">
        <div class="search-row">
            <div class="search-item">
                <p>請輸入 ETF 名稱/代號</p>
                <form id="etfSearchForm">
                    <input type="text" id="symbolInput" name="symbol" required>
                    <button type="submit">Search</button>
                </form>
            </div>

            <div class="search-item">
                <p>比較 ETF 名稱/代號</p>
                <form id="etfCompareForm">
                    <input type="text" id="compareInput" name="compareSymbol" required>
                    <button type="submit">Compare</button>
                </form>
            </div>

            <div class="search-item">
                <p>請輸入 ETF 成分股代號</p>
                <form id="stockSearchForm">
                    <input type="text" id="stockInput" name="stock_code" required>
                    <button type="submit">Search</button>
                </form>
            </div>
        </div>

        <div class="search-row">
            <div class = "search-item">
                <p>查看 ETF 新聞</p>
                <form action="/etf-pioneer/api/news-wordcloud" method="get">
                    <label for="startDate">開始日期：</label>
                    <input type="date" id="startDate" name="start_date" min="2024-05-02" max="{{ max_date }}">
                    
                    <label for="endDate">結束日期：</label>
                    <input type="date" id="endDate" name="end_date" min="2024-05-02" max="{{ max_date }}">

                    <button type="submit">Search</button>
                    <div id="dateRangeDisplay"></div>
                </form>

            </div>
        </div>

    </div>
</nav>