<!DOCTYPE html>
<html>
<head>
    <title>ETF News Trend</title>
    <script src="https://cdn.plot.ly/plotly-2.30.0.min.js" charset="utf-8"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</head>
<body>
{% include 'nav_bar.html' %}
<main>
    <h1>ETF 新聞趨勢文字雲({{start_date}} - {{end_date}})</h1>

    {% if image_data %}
    <img src="{{image_data}}" alt="Word Cloud" style="max-height: 500px; overflow-y: auto;">
    
    {%elif error%}
        <p>{{ error }}</p>

    {% else %}
    <p>無法讀取選取日期({{start_date}} - {{end_date}})之文字雲資訊，請重新選擇日期。</p>
   {% endif %}
{% include 'footer.html' %}
</main>
</body>
</html>
