<!DOCTYPE html>
<html>
<head>
    <title>ETF News Trend</title>
    <script src="https://cdn.plot.ly/plotly-2.30.0.min.js" charset="utf-8"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</head>
<body>
<nav>
<div class="search-buttons">
        <p>Enter ETF Symbol</p>
        <form id="etfSearchForm">
            <input type="text" id="symbolInput" name="symbol" required>
            <button type="submit">Search</button>
        </form>
        <p>Enter another ETF Symbol to compare</p>
        <form id="etfCompareForm">
            <input type="text" id="compareInput" name="compareSymbol" required>
            <button type="submit">Compare</button>
        </form>
        <p>Enter Stock Symbol</p>
        <form id="stockSearchForm">
            <input type="text" id="stockInput" name="stock_code" required>
            <button type="button" onclick="fetchStockETFData()">Search</button>
        </form>
        <label for="startDate">選擇日期：</label>
        <input type="date" id="startDate" name="startDate">
        <button onclick="fetchNewsTitlesForWordCloud()"> 查看 ETF 新聞趨勢</button>
    </div>
</nav>
<main>
    <h1>ETF 新聞趨勢文字雲({{start_date}} - {{end_date}})</h1>

    {% if image_data %}
    <img src="{{image_data}}" alt="Word Cloud" style="max-height: 500px; overflow-y: auto;">
    
    {%elif error%}
        <p>{{ error }}</p>

    {% else %}
    <p>無法讀取選取日期({{start_date}})之文字雲資訊，請重新選擇日期。</p>
   {% endif %}
</main>
</body>
</html>
